.maindiv {
	display: flex;
	justify-content: center;
	padding-top: 3.5%;
	flex-direction: column;
	align-items: center;
}

.input_block {
	font-size: var(--size-18px);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	padding: 0px 25px;
	width: 100%;
}

.addressAndSearch {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 30px;
	width: 70%;
}

select:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.disabledOption {
	color: var(--color-grey-600);
}

.selectError {
	color: #ff8f8f;
	font-size: var(--size-18px);
}

.searchIcon {
	margin-right: 5px;
}

.IconAndText {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	.form {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	.input_block {
		margin: 6% 0%;
		padding: 0;
	}

	.addressAndSearch {
		flex-flow: column nowrap;
		margin-bottom: 12px;
	}

	.input_block input {
		padding: 3px 4px 0px 1px;
		margin: 0px 0px 6px 0px;
	}
}
