.maindiv_headline_editEntry {
	display: flex;
	justify-content: center;
	padding-top: 5%;
	align-items: center;
}

.verifyWarning {
	display: flex;
	justify-content: center;
	padding-top: 1%;
	align-items: center;
}

.DienstleistereintragungEditieren {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-28px);
	text-align: center;
}

@media only screen and (max-width: 750px) {
	.DienstleistereintragungEditieren {
		font-size: var(--size-24px);
	}
}

.editsuccess_div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-green-700);
}

.deletesuccess_div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ff4f4f;
}

////////////////////////////////////////////

.maindiv_editForm {
	padding-top: 3%;
	display: flex;
	justify-content: center;
}

.editForm {
	flex: 0 1 30em;
	margin: 0px 5%;
}

.label_editForm {
	font-family: "Space Grotesk";
	font-weight: 500;
	font-size: var(--size-18px);
	display: flex;
	flex-flow: column nowrap;
	padding: 25px 0px;
}

.textinput_editForm {
	border-bottom: 0.5px solid var(--color-grey-500);
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-18px);
	padding: 3px 4px 0px 1px;
	margin: 8px 0px 4px 0px;
	background-color: transparent;
}

select:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.joboption_editForm {
	border-bottom: 0.5px solid var(--color-grey-700);
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-18px);
	padding: 2px 4px 2px 0px;
	margin: 12px 20px 4px 0px;
	background-color: transparent;
}

.divforthat {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-bottom: 16px;
}

textarea {
	font-family: "Space Grotesk";
	font-weight: bold;
	width: 100%;
	padding: 4px 6px 4px 6px;
	margin: 8px 0px 4px 0px;
	border: 0.5px solid var(--color-grey-700);
	resize: none;
	background-color: transparent;
}

textarea:focus {
	outline: none;
}

.deleteDLButton {
	padding: 12px 40px;
	font-family: "Space Grotesk";
	font-weight: 500;
	border-radius: 10px;
	border-width: 1px;
	border-color: #ff8f8f;
	background-color: #ff8f8f;
	cursor: pointer;
	color: var(--color-grey-900);
	transition: transform 0.1s ease-out;
	will-change: transform;
	display: grid;
	place-items: center;
	margin: 0% 1.5%;

	&:hover {
		background: #f87b7b;
		border-color: var(--color-grey-900);
	}
}

.deleteModalButton {
	padding: 12px 40px;
	font-family: "Space Grotesk";
	font-weight: 500;
	border-radius: 10px;
	border-width: 1px;
	border-color: #ff8f8f;
	background-color: #ff8f8f;
	cursor: pointer;
	color: var(--color-grey-900);
	transition: transform 0.1s ease-out;
	will-change: transform;
	margin-top: 4%;

	&:hover {
		background: #f87b7b;
		border-color: var(--color-grey-900);
	}
}

.modalCancelButton {
	margin-top: 4%;
}

.divforthat_editpublic {
	margin: 0% 1.5%;
}

.addressWarning {
	font-size: var(--size-14px);
	color: #ff8f8f;
	text-align: center;
}
