.firebaseui-idp-google > .firebaseui-idp-text {
	font-family: "Space Grotesk", sans-serif;
	color: #343434;
	font-size: 1rem;
}

.firebaseui-idp-button {
	box-shadow: none;
	outline: solid #343434 1px;
	border-radius: 10px;
	background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
}
