.GPFprofileContainer {
	padding-top: 100px;

	.deletionConfirmation {
		color: var(--color-green-500);
		margin-top: 10px;
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition: 0.3s ease-in-out;
	}

	.visible {
		visibility: visible;
		opacity: 1;
		height: 20px;
	}

	.notice {
		max-width: 480px;
		margin-top: 100px;
	}
}
