node_modules
.DS_Store
dist
.idea
*.local
*.log

# Cypress
**/cypress/results/*
**/cypress/reports/*
**/cypress/screenshots/*
**/cypress/videos/*
**/cypress/logs/*

# Terraform
**/.terraform
deploy/*credentials.json
*.tfstate*
secret.tfvars

firebase.json