node_modules
.DS_Store
dist
.idea
*.local
*.log
.vscode

# Cypress
**/cypress/results/*
**/cypress/reports/*
**/cypress/screenshots/*
**/cypress/videos/*
**/cypress/logs/*

# Terraform
**/.terraform
deploy/*credentials.json
*.tfstate*
secret.tfvars
terraform.tfvars

firebase.json