.landingPage {
	background: #f6f5f8;
	overflow-x: hidden;

	* {
		z-index: 1;
	}

	h1 {
		font-size: var(--size-24px);
		text-align: center;
		font-weight: 600;
	}

	@media (min-width: 680px) {
		font-size: var(--size-20px);

		h1 {
			font-size: var(--size-28px);
		}
	}
}

.landingPage section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 4rem;
	justify-content: center;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 2rem;

	@media (min-width: 900px) {
		max-width: 1200px;
		margin-bottom: 8rem;

		&.split {
			margin-bottom: 15vh;
		}
	}

	ul {
		padding-left: 2ch;
	}

	li {
		list-style-position: outside;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&::marker {
			content: "➔ ";
		}
	}

	&.header {
		display: flex;
		flex-direction: column;
		min-height: 90vh;
		padding: 2rem;
		gap: 10vh;
		justify-content: center;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			right: 0;
			background: radial-gradient(
				95.33% 88.77% at 100% 25.99%,
				#f3eae4 0%,
				#f5ebdf 11.12%,
				#f6f5f800 33.47%
			);
		}

		@media (min-width: 900px) {
			display: grid;
			grid-template-columns: 3fr 4fr;
			padding: 5vh 5vw;
			margin-bottom: 0;
			min-height: 80vh;

			h1 {
				text-align: left;
				margin-bottom: 20vh;
				font-size: var(--size-36px);
				max-width: 20ch;
			}

			.skewed {
				margin-top: 15vh;
			}
		}
	}

	&.video {
		gap: 2rem;

		@media (min-width: 900px) {
			flex-direction: row;
			gap: min(15rem, 10vw);

			video {
				width: 35%;
			}
		}
	}

	&.dlr {
		flex-direction: column-reverse;

		@media (min-width: 900px) {
			flex-direction: row;
			margin-bottom: 15rem;
			gap: 10rem;

			img {
				width: 40%;
				flex: 0.3;
			}
		}

		&::before {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 100%;
			background: radial-gradient(
				90.33% 88.77% at 0% 30.99%,
				#e4dffa 0%,
				#f6f5f8 33.47%
			);
		}
	}

	&.startCompany {
		&::before {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 100%;
			background: radial-gradient(
				95.33% 88.77% at 100% 25.99%,
				#f3eae4 0%,
				#f5ebdf 11.12%,
				#f6f5f800 33.47%
			);
		}
	}

	&.center {
		justify-content: center;
		gap: 3rem;
		min-height: 50vh;

		@media (min-width: 900px) {
			min-height: 30vh;
		}

		&::before {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 50%;
			background: radial-gradient(
				90.33% 88.77% at 0% 60.99%,
				#e4dffa 0%,
				#f6f5f8 33.47%
			);
		}
	}
}

.description {
	font-family: "Inter", sans-serif;
	font-weight: 500;
}

.skewed {
	margin: 1rem 0;
	transform-origin: 50% 50%;
	transform: rotateX(50deg) rotateY(0deg) rotateZ(-40deg) scale(1);
	transform-style: preserve-3d;
	filter: drop-shadow(0px 14px 40px rgba(68, 40, 183, 0.09));
	transition: transform 0.4s ease-out;

	&:hover {
		transform: rotateX(41deg) rotateY(0deg) rotateZ(-21deg) scale(1.1);
	}
}

.details {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: center;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;

	.buttonTitle {
		margin-top: 1rem;
		font-size: var(--size-24px);
		font-weight: 600;

		&[data-color="purple"] {
			background: linear-gradient(97.08deg, #9685ff 3.66%, #d57bff 93.22%),
				#c4c4c4;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&[data-color="blue"] {
			background: linear-gradient(120.92deg, #acd7ff -9.42%, #6d73fe 111.3%),
				#c4c4c4;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.searchButtonContent {
		font-size: var(--size-14px);
		font-weight: 600;
		align-items: center;
		gap: 0.5rem;

		background: linear-gradient(120.92deg, #acd7ff -9.42%, #6d73fe 111.3%),
			#c4c4c4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		svg {
			display: inline;
			height: 18px;
			color: #acd7ff;
		}

		@media (min-width: 600px) {
			font-size: var(--size-20px);
		}
	}

	.buttonDescription {
		margin: 0 2rem;
		margin-bottom: 1rem;
	}
}
