.resultframe {
	padding: 16px 22px;
	margin: 8px;
	font-family: "Space Grotesk";
	font-weight: 500;
	border-radius: 10px;
	border-width: 1px;
	background-color: #fff;
	cursor: pointer;

	flex: 1 0 20em;
}

.modalInfopoint {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-14px);
	margin: 0;
	gap: 0;
}

.modalTitle {
	font-family: "Space Grotesk";
	font-weight: normal;
	font-size: var(--size-14px);
	margin: 0;
	gap: 0;
}

.result_company {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-18px);
}

.result_job {
	font-family: "Space Grotesk";
	font-weight: normal;
	font-size: var(--size-14px);
	color: var(--color-grey-700);
}

.result_address {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-16px);
}

.result_distance {
	font-family: "Space Grotesk";
	font-weight: normal;
	font-size: var(--size-16px);
}

.result_description {
	font-family: "Space Grotesk";
	font-weight: normal;
	font-size: var(--size-16px);
}

.result_moreinfo {
	font-family: "Space Grotesk";
	font-weight: bold;
	text-decoration: underline;
	font-size: var(--size-16px);
}
