.maindiv_headline_getEntry {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

.headline_companyname {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-28px);
}
