.default_btn {
	padding: 12px 40px;
	font-family: "Space Grotesk";
	font-weight: 500;
	border-radius: 10px;
	border-width: 1px;
	background-color: #fff;
	cursor: pointer;
	color: var(--color-grey-900);
	transition: transform 0.1s ease-out;
	will-change: transform;

	&[data-width="fullwidth"] {
		width: 100%;
	}

	&[data-width="max-content"] {
		width: max-content;
	}

	&[data-disabled="true"] {
		color: var(--color-grey-500);
		cursor: not-allowed;
	}

	&[data-disabled="false"]:hover {
		background: #fafafa;
	}

	&[data-variant="secondary"] {
		color: #fff;
		background: var(--color-grey-900);

		&:hover {
			transform: scale(1.1);
			background: var(--color-grey-900);
		}
	}
}
