* {
	box-sizing: border-box;
}

body,
html,
#root {
	height: 100vh;

	padding: 0;
	font-family: "Space Grotesk", sans-serif;
	font-weight: var(--font-weight-medium);
}

.content {
	h1 {
		font-size: var(--size-36px);
		margin: 0 0 var(--size-28px);
	}

	h2 {
		font-size: var(--size-28px);
		margin: var(--size-36px) 0 var(--size-18px);
	}

	h3,
	h4 {
		font-size: var(--size-32px);
		margin: 0 0 var(--size-18px);
	}

	h5,
	h6 {
		font-size: var(--size-24px);
		margin: 0 0 var(--size-18px);
	}

	p,
	ul {
		font-size: var(--size-18px);
		margin-bottom: var(--size-16px);
	}

	a {
		color: var(--color-purple-900);
		text-decoration: underline;
	}

	li {
		list-style: circle;
		list-style-position: inside;
		margin-bottom: var(--size-04px);

		&::marker {
			content: "➔ ";
		}
	}

	@media screen and (max-width: 600px) {
		h1 {
			font-size: var(--size-24px);
			margin: 0 0 var(--size-16px);

			font-weight: 700;
		}

		h2 {
			font-size: var(--size-20px);
			margin: var(--size-32px) 0 var(--size-14px);
		}

		h3 {
			font-size: var(--size-18px);
			margin: var(--size-20px) 0 var(--size-14px);
		}

		h4 {
			font-size: var(--size-18px);
			margin: var(--size-20px) 0 var(--size-14px);
		}

		p,
		ul {
			font-size: var(--size-16px);
			margin-bottom: var(--size-12px);
		}
	}
}
