@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/SpaceGroteskLight.woff2") format("woff2"),
		url("../fonts/SpaceGroteskLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/SpaceGroteskRegular.woff2") format("woff2"),
		url("../fonts/SpaceGroteskRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/SpaceGroteskMedium.woff2") format("woff2"),
		url("../fonts/SpaceGroteskMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/SpaceGroteskSemiBold.woff2") format("woff2"),
		url("../fonts/SpaceGroteskSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/SpaceGroteskBold.woff2") format("woff2"),
		url("../fonts/SpaceGroteskBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Bold.woff2") format("woff2"),
		url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
