.overlay {
	width: 100vw;
	height: 100vh;
	background-color: #00000080;
	display: flex;
	justify-content: center;
	align-content: center;
	z-index: 10;
}

.popup {
	background-color: #fff;
	z-index: 20;
	height: min-content;
	margin: auto;
	max-width: 500px;
	padding: 10px 40px 30px 40px;
	border-radius: 10px;

	@media (max-width: 768px) {
		margin: auto 20px;
		padding: 0px 20px 20px 20px;
	}
}

.legal_links a {
	font-size: 14px;
	color: #343434;
}

.legal_links {
	height: min-content;

	@media (max-width: 768px) {
		margin-top: 10px;
	}
}

.link_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}
