.text_block {
	position: relative;
	padding: var(--header-height) var(--size-12px) 0;
	background: var(--color-background-gradient);

	.wrapper {
		max-width: 900px;
		margin: 0 auto;
	}

	@media (max-width: 950px) {
		h1 {
			font-size: var(--size-24px);
		}
		h2 {
			font-size: var(--size-22px);
		}
		h3 {
			font-size: var(--size-20px);
		}
		p {
			font-size: var(--size-16px);
		}
	}

	.page_content {
		word-break: normal;
		overflow-x: hidden;
	}

	.title {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	li {
		font-size: 18px;
		@media (max-width: 950px) {
			font-size: var(--size-16px);
		}
	}
}
