.text_block {
	width: 100%;
	position: relative;
	height: 80vh;

	@media (max-width: 950px) {
		padding: 100px 15px 0px;
		height: 100vh;
		overflow: hidden;
	}

	svg {
		@media (max-width: 950px) {
			top: 70px;
			left: unset;
		}
		@media (min-width: 950px) and (max-width: 1000px) {
			left: -30px;
		}
	}

	@media (max-width: 950px) {
		h1 {
			font-size: var(--size-24px);
		}
		h2 {
			font-size: var(--size-22px);
		}
		h3 {
			font-size: var(--size-20px);
		}
		p {
			font-size: var(--size-16px);
		}
	}

	.page_content {
		word-break: normal;
		overflow-y: scroll;
		overflow-x: hidden;
		height: calc(100% - 72px);
		-ms-overflow-style: none;
		scrollbar-width: none;
		padding-bottom: 200px;

		@media (max-width: 768px) {
			padding-bottom: 50px;
		}
	}

	.page_content::-webkit-scrollbar {
		display: none;
	}

	li {
		font-size: 18px;
		@media (max-width: 950px) {
			font-size: var(--size-16px);
		}
	}

	.bot_gradient {
		pointer-events: none;
		height: 200px;
		width: 100%;
		position: absolute;
		bottom: -40px;
		left: 0;
		background: linear-gradient(transparent 0%, #f6f5f8 100%);
		z-index: 4;

		@media (max-width: 768px) {
			height: 100px;
		}
	}
}
