.action {
	padding-left: 15px;
	@media (max-width: 950px) {
		padding-left: 0;
	}

	Button {
		background: var(--color-green-200);
		border-color: var(--color-green-400);

		&:hover {
			background: var(--color-green-100) !important;
		}
	}
}

.cancel {
	padding-right: 15px;
	@media (max-width: 950px) {
		padding-right: 0;
	}
}
