.taskList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.taskListContainer {
	position: relative;
	max-width: 700px;
	width: 100%;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
