.taskList {
	max-width: 600px;
	width: fit-content;
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.rows {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	z-index: 1;
}

.row {
	padding: 0 0.2rem;
	gap: 50px;
	align-items: center;
	display: grid;
	grid-template-rows: 1fr;
	justify-items: center;
}

.g_1 {
	grid-template-columns: 1fr;
}

.g_2 {
	grid-template-columns: 1fr 1fr;
}
