.default_btn {
	padding: 7px 60px;
	font-family: "Space Grotesk";
	font-weight: normal;
	border-radius: 10px;
	border-width: 1px;
	background-color: #fff;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.default_btn:hover {
	background-color: #343434;
	color: #fff;
}
