.decision_node {
	--border-col: #ecddd6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--size-16px);
	min-width: 100px;
	padding: 30px;
	height: 50px;
	background-color: #fff;

	border-top: 1px solid var(--border-col);
	border-bottom: 1px solid var(--border-col);
	border-radius: 8px;
	box-shadow: 0px 12px 10px rgba(236, 126, 75, 0.05);
	color: var(--color-grey-800);
	transition-property: background-color, color, border-color;
	transition: background-color 0.15s ease-out;
	width: fit-content;
	margin: 50px 0px;
	position: relative;
	z-index: 0;
	cursor: pointer;

	span {
		user-select: none;
		text-align: center;
		font-weight: var(--font-weight-medium);
	}

	&::before,
	&::after {
		width: 48px;
		height: 48px;
		border-radius: 8px;
		content: "";
		position: absolute;
		top: 6px;
		z-index: -1;
		border-top: 1px solid var(--border-col);
		transition: background-color 0.15s ease-out;
		border-right: 1px solid var(--border-col);
		background-color: #fff;
		clip-path: polygon(
			100% 100%,
			100% 0%,
			0% 0%,
			0% 5%,
			1% 4%,
			6% 4%,
			11% 3%,
			97% 90%,
			96% 95%,
			94% 98%,
			92% 100%
		);
	}

	&::before {
		left: -17px;
		transform: rotate(-135deg);
	}
	&::after {
		right: -17px;
		transform: rotate(45deg);
	}

	&[data-checked="true"] {
		background: var(--color-green-100);
		border-color: var(--color-green-300);
		color: var(--color-green-800);
		box-shadow: 0px 12px 10px rgba(0, 204, 82, 0.05);

		&::before,
		&::after {
			background: var(--color-green-100);
			border-color: var(--color-green-300);
			box-shadow: 0px 12px 10px rgba(0, 204, 82, 0.05);
		}
	}

	@media (max-width: 500px) {
		font-size: 12px;
		height: 40px;
		padding: 15px;
		margin: 25px 0px;

		&::before,
		&::after {
			width: 32.5px;
			height: 32.5px;
			top: 2.8px;
		}

		&::before {
			left: -9px;
		}
		&::after {
			right: -9px;
		}
	}
}
