.maindiv_address_Warning {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	margin: 0px 40px;
}

.address_Warning {
	font-family: "Space Grotesk";
	font-size: var(--size-18px);
	color: #ff8f8f;
	text-align: center;
}
