.maindiv_headline_createEntry {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}
.AlsDienstleisterEintragen {
	font-family: "Space Grotesk";
	font-weight: bold;
	font-size: var(--size-28px);
}
